Package: etcd
Architecture: amd64
Maintainer: Chris Kuehl <ckuehl@ocf.berkeley.edu>
Depends:
Priority: optional
Version: 2.0.10kl1
Description: Highly-available key value store for shared configuration and service discovery
 .
 This package provides etcd binaries only, unmodified from the upstream
 releases, in /usr/bin/.
 .
 It does not install etcd as a service to be started automatically.
